/* Custom styles for login button */
.custom-border-btn {
    color: var(--primary-color) !important;
    background: transparent !important;
    border: 2px solid var(--primary-color) !important;
}

.custom-border-btn:hover {
    background: var(--primary-hover) !important;
    color: var(--secondary-color) !important; /* Change this if needed */
    border: 2px solid var(--primary-hover) !important;
}

/* Custom styles for signup button */
.custom-primary-btn {
    color: var(--secondary-color) !important;
    background: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
}

.custom-primary-btn:hover {
    background: var(--primary-hover) !important;
    color: var(--secondary-color) !important;
}

.custom-secondary-btn {
    color: var(--primary-color) !important;
    background: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
}

.custom-secondary-btn:hover {
    opacity: .8;
}
