body {
    background-color: #fde591; /* Set the background color */
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.login-form {
    background-color: #0c343d; /* Set the form background color */
    color: #fde591; /* Set the form text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #fde591; /* Set the form input border color */
    border-radius: 4px;
    background-color: #0c343d; /* Set the form input background color */
    color: #fde591; /* Set the form input text color */
}

.btn-primary {
    background-color: #fde591; /* Set the form button background color */
    color: #0c343d; /* Set the form button text color */
    border: 1px solid #fde591; /* Set the form button border color */
}

.btn-primary:hover {
    background-color: #0c343d; /* Set the form button hover background color */
    color: #fde591; /* Set the form button hover text color */
}