@font-face {
    font-family: 'inter_regular';
    src: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-Regular.woff2) format("woff2");
}

@font-face {
    font-family: 'inter_semibold';
    src: url(https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/fonts/Inter-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url(//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/fonts/roboto-regular-webfont.woff2) format("woff2")
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url(//static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/fonts/roboto-medium-webfont.woff2) format("woff2")
}